*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

nav {

    padding: 5px 5px 10px 5px;
    margin: 0px;

    display: flex;
    justify-content: space-between;
    background-color: rgb(117, 157, 157);
}

.search-bar {

    width: 45%;
    height: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    border: none;

}

.news-container {
    display:flex;
    margin: 5px, 10px, 5px, 10px;
    flex-direction: column;

}
.news-container h1{
    text-align: center;
}

.news-box {

    padding: 50px;
    height: 100px;
    border: 1px;
    border-radius: 1px;
    border-color: black;

}

.saved-shows-container {
    display:flex;
    margin: 5px, 10px, 5px, 10px;
    flex-direction: column;
    justify-content: center;
}
.saved-shows-container  h2{
    text-align: center;
}

.saved-shows-interface {

    display: flex;
    justify-content: space-around;

}
.button-next-img {

    border: none;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 10px;

}

.button-next-img:hover {

    border: 10px;
    box-shadow: 10px;
    background-color: bisque;
}

#watched-shows {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.side-img {
    width: 50px;
    height: 60px;
    box-shadow: 20px;
}
.current-img{
    width: 70px;
    height: 100px;
}
.hidden-img {
    display: none;
}


footer {

    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

footer div {

    color: white;
}